<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Reseptikirjasto</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		div.table {
			display: table;
			width: 33%;
			
		}
		form.tr {
			display: table-row;	
		}
		span.td {
			display: table-cell;
		}
	</style>
</head>
<body>
	<h1>Kategoriat</h1>	
	
	<!-- kategorialistaus -->
	<table style="text-align:left;width:25%">
		<tr>
			<th>Nimi</th>
			<th>Väri</th>
		</tr>
		<tr th:each="category : ${categories}">
			<td th:text="${category.name}" />
			<td th:text="${category.color}" th:bgcolor="${category.color}" />
		</tr>
	</table>
	
		<!-- kategorian lisäys -->
	<div class="table">
		<form class="tr" id="addCategoryForm" method="post" action="#" th:action="@{/addcategory}" th:object="${newCategory}">
			<span class="td"><input type="text" size="10" placeholder="kategorian nimi" th:field="${newCategory.name}" /></span>
			<span class="td"><input type="color" th:field="${newCategory.color}" /></span>
			<input type="submit" value="Lisää" />
		</form>
	</div>
</body>
</html>