<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<title>Reseptikirjasto</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<style>
		.error {
			color:#ff0000
		}
	</style>
</head>
<body>
<div style="text-align:center">
	<div class="container-fluid">
		<!-- header -->
		<div class="row" style="padding-top:20px">
			<div class="col-8" id="appName">
				<h1>Reseptikirjasto</h1>
			</div>
			<div class="col-4" style="padding-top:10px;max-width:200px">
				<!-- kirjautumaton käyttäjä näkee: -->
				<div sec:authorize="!isAuthenticated()" style="line-height:2;margin-bottom:20px">
					<a class="btn btn-sm btn-primary" th:href="@{/login}">Kirjaudu sisään</a>
					<a class="btn btn-sm btn-primary" th:href="@{/signup}">Rekisteröidy</a>
				</div>
				<!-- kirjautunut käyttäjä näkee: -->
				<div sec:authorize="isAuthenticated()" style="line-height:1;margin-bottom:10px">
					<p>Kirjautunut: <span sec:authentication="name" Style="font-weight:bold"></span></p>
					<a class="btn btn-sm btn-primary" th:href="@{/logout}">Kirjaudu ulos</a>
				</div>
			</div>
		</div>
		<!-- navigaatiopalkki -->
		<div style="background-color:#8f8f8f">
			<div class="row" style="width:80%;margin:auto;">
				<div class="col-md-2">
					<a class="link-light" href="/recipelist">Kaikki reseptit</a> 
				</div>
				<div class="col-md-2">
					<a class="link-light" sec:authorize="isAuthenticated()" href="/addrecipe">Lisää uusi resepti</a> 
				</div>
				<div class="col-md-2">
					<a class="link-light" sec:authorize="isAuthenticated()" href="/myrecipes">Omat reseptit</a>
				</div>
				<div class="col-md-2">
					<a class="link-light" sec:authorize="isAuthenticated()" href="/mylikes">Tykätyt reseptit</a>
				</div>
				<div class="col-md-2">
					<a class="link-light" sec:authorize="hasAuthority('ADMIN')" href="/categorylist">Kategoriat</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- kategoriat -->
	<h3>Kategoriat</h3>	
	<!-- kategorian lisäys -->
	<form id="addCategoryForm" method="post" action="#" th:action="@{/addcategory}" th:object="${newCategory}" style="padding:10px">
		<input type="text" placeholder="kategorian nimi" th:field="${newCategory.name}" required />
		<input type="color" style="height:21px;width:20px" th:field="${newCategory.color}" required />
		<input type="submit" value="Lisää" />
		<p class="error" th:if="${#fields.hasErrors('name')}" th:errors="${newCategory.name}">Error</p>
		<p class="error" th:if="${#fields.hasErrors('color')}" th:errors="${newCategory.color}">Error</p>
	</form>
	<!-- kategorialistaus -->
	<table class="table table-bordered" style="width:60%;margin:auto">
		<tr>
			<th>Nimi</th>
			<th>Väri</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="category : ${categories}">
			<td th:text="${category.name}" />
			<td th:text="${category.color}" th:style="|background-color:${category.color}|" />
			<td><a th:href="@{/editcategory/{id}(id=${category.id})}">Muokkaa</a></td>
			<td><a th:href="@{/deletecategory/{id}(id=${category.id})}">Poista</a></td>
		</tr>
	</table>
</div>
</body>
</html>