<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" >
<head>
	<title>Reseptikirjasto</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<style>
		
		table {
			border: 1px solid;
		}
		th {
			border: 1px solid;
		}
		td {
			border: 1px solid;
		}
	</style>
</head>
<body>
<div style="text-align:center">
 	<div class="container-fluid">
		<!-- header -->
		<div class="row" style="padding-top:20px">
			<div class="col-8" id="appName">
				<h1>Reseptikirjasto</h1>
			</div>
			<div class="col-4" style="padding-top:10px;max-width:200px">
				<!-- kirjautumaton käyttäjä näkee: -->
				<div sec:authorize="!isAuthenticated()" style="line-height:2;margin-bottom:20px">
					<a class="btn btn-sm btn-primary" th:href="@{/login}">Kirjaudu sisään</a>
					<a class="btn btn-sm btn-primary" th:href="@{/signup}">Rekisteröidy</a>
				</div>
				<!-- kirjautunut käyttäjä näkee: -->
				<div sec:authorize="isAuthenticated()" style="line-height:1;margin-bottom:10px">
					<p>Kirjautunut: <span sec:authentication="name" Style="font-weight:bold"></span></p>
					<a class="btn btn-sm btn-primary" th:href="@{/logout}">Kirjaudu ulos</a>
				</div>
			</div>
		</div>
		<!-- navigaatiopalkki -->
		<div style="background-color:#8f8f8f">
			<div class="row" style="width:80%;margin:auto;">
				<div class="col-md-2">
					<a class="link-light" href="/recipelist">Kaikki reseptit</a> 
				</div>
				<div class="col-md-2">
					<a class="link-light" sec:authorize="isAuthenticated()" href="/addrecipe">Lisää uusi resepti</a> 
				</div>
				<div class="col-md-2">
					<a class="link-light" sec:authorize="isAuthenticated()" href="/myrecipes">Omat reseptit</a>
				</div>
				<div class="col-md-2">
					<a class="link-light" sec:authorize="hasAuthority('ADMIN')" href="/categorylist">Kategoriat</a>
				</div>
			</div>
		</div>
	</div>
	<!-- reseptilistaus -->
	<div class="container-fluid">
		<h3>Omat reseptit</h3>
		<table class="table table-bordered" style="width:60%;margin:auto;text-align:left">
			<tr>
				<th>Nimi</th>
				<th>Annosmäärä</th>
				<th>Aika</th>
				<th>Kategoria</th>
				<th>Tekijä</th>
				<th sec:authorize="hasAuthority('USER')"></th>
				<th sec:authorize="hasAuthority('USER')"></th>
			</tr>
			<tr th:each="recipe : ${recipes}">
				<td><a th:href="@{/recipe/{id}(id=${recipe.id})}" th:text="${recipe.name}" ></a></td>
				<td th:text="${recipe.numberOfServings}" />
				<td th:text="${recipe.getTimeStr}" />
				<td th:text="${recipe.category.name}" />
				<td th:text="${recipe.author.username}" />
				<td sec:authorize="hasAnyAuthority('USER', 'ADMIN')"><a th:href="@{/editrecipe/{id}(id=${recipe.id})}">Muokkaa</a></td>
				<td sec:authorize="hasAnyAuthority('USER', 'ADMIN')"><a th:href="@{/delete/{id}(id=${recipe.id})}">Poista</a></td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>