<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Reseptikirjasto</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		/* tyylit tässä väliaikaisesti */

		.frame {
			width: 50%; 
			padding: 10px;
			margin: auto;
			border-radius: 5px;
		}
		.comment {
			width: 80%; 
			border: 3px solid #8f8f8f; 
			border-radius: 10px; 
			padding: 5px;
			margin: 5px;
		}
	</style>
</head>
<body>
	<a href="/recipelist">Takaisin</a>
	
	<div class="frame" th:style="|border: 10px solid ${recipe.category.color}|">
		<!-- resepti -->
		<h3 th:text="${recipe.name}"></h3>
		<p th:text="|reseptin tekijä: ${recipe.author.username}|" />
		<p th:text="|kategoria: ${recipe.category.name}|" />
		<p th:text="|annosmäärä: ${recipe.numberOfServings}|" />
		<p th:text="|valmistusaika: ${recipe.time} minuuttia|" />
		<h4>Ainesosat:</h4>
		<p style="white-space:pre-wrap" th:text="${recipe.listOfIngredients}" />
		<h4>Valmistusohjeet:</h4>
		<p style="white-space:pre-wrap" th:text="${recipe.instructions}" />
		<a th:href="@{/editrecipe/{id}(id=${recipe.id})}">Muokkaa</a>
		<a th:href="@{/deleterecipe/{id}(id=${recipe.id})}">Poista</a>
		<!-- kommentit -->
		<h4>Kommentit: </h4>
		<div class="comment" th:each="comment : ${comments}">
			<p th:text="|${comment.commenter.username} ${comment.timestamp}|"/> <!-- todo: formatoi timestamp -->
			<p th:text="${comment.message}"/>
			<a th:href="@{/deletecomment/{recipeid}/{commentid} (recipeid=${recipe.id}, commentid=${comment.id})}">Poista</a>
		</div>
		<form id="commentform" method="post" action="#" th:action="@{/savecomment}" th:object="${newComment}">
			<input type="hidden" th:field="${newComment.commenter}" th:value="${newComment.commenter}" />
			<input type="hidden" th:field="${newComment.recipe}" th:value="${newComment.recipe}" />
			<textarea form="commentform" cols="30" rows="3" th:field="${newComment.message}"></textarea>
			<input type="submit" value="Lisää" />
		</form>
	</div>
</body>
</html>