<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Reseptikirjasto</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		/* tyylit tässä väliaikaisesti, borderit vaan helpottamassa reseptilistauksen lukemista. */
		table {
			border: 1px solid;
		}
		th {
			border: 1px solid;
		}
		td {
			border: 1px solid;
		}
	</style>
</head>
<body>
	<h1>Reseptikirjasto</h1>
	<table>
		<tr>
			<th>Nimi</th>
			<th>Ainesosat</th>
			<th>Valmistusohjeet</th>
			<th>Annosmäärä</th>
			<th>Aika</th>
		</tr>
		<tr th:each="recipe : ${recipes}">
			<td th:text="${recipe.name}" />
			<td style="white-space:pre-wrap" th:text="${recipe.listOfIngredients}" />
			<td style="white-space:pre-wrap" th:text="${recipe.instructions}" />
			<td th:text="${recipe.numberOfServings}" />
			<td><span th:text="${recipe.time}"></span> minuuttia</td>
		</tr>
	</table>

</body>
</html>