<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<title>Reseptikirjasto</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<style>
		td{
			padding:3px;
		}
	</style>
</head>
<body>
<div style="text-align:center">
	<div class="container-fluid">
		<!-- header -->
		<div class="row" style="padding-top:20px">
			<div class="col-8" id="appName">
				<h1>Reseptikirjasto</h1>
			</div>
			<div class="col-4" style="padding-top:10px;max-width:200px">
				<!-- kirjautumaton käyttäjä näkee: -->
				<div sec:authorize="!isAuthenticated()" style="line-height:2;margin-bottom:20px">
					<a class="btn btn-sm btn-primary" th:href="@{/login}">Kirjaudu sisään</a>
					<a class="btn btn-sm btn-primary" th:href="@{/signup}">Rekisteröidy</a>
				</div>
				<!-- kirjautunut käyttäjä näkee: -->
				<div sec:authorize="isAuthenticated()" style="line-height:1;margin-bottom:10px">
					<p>Kirjautunut: <span sec:authentication="name" Style="font-weight:bold"></span></p>
					<a class="btn btn-sm btn-primary" th:href="@{/logout}">Kirjaudu ulos</a>
				</div>
			</div>
		</div>
		<!-- navigaatiopalkki -->
		<div style="background-color:#8f8f8f">
			<div class="row" style="width:80%;margin:auto;">
				<div class="col-md-2">
					<a class="link-light" href="/recipelist">Kaikki reseptit</a> 
				</div>
				<div class="col-md-2">
					<a class="link-light" sec:authorize="isAuthenticated()" href="/addrecipe">Lisää uusi resepti</a> 
				</div>
				<div class="col-md-2">
					<a class="link-light" sec:authorize="isAuthenticated()" href="/myrecipes">Omat reseptit</a>
				</div>
				<div class="col-md-2">
					<a class="link-light" sec:authorize="isAuthenticated()" href="/mylikes">Tykätyt reseptit</a>
				</div>
				<div class="col-md-2">
					<a class="link-light" sec:authorize="hasAuthority('ADMIN')" href="/categorylist">Kategoriat</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- reseptin tykkäykset -->
	<h3>Tykkäykset</h3>	
	<table class="table table-bordered" style="width:60%;margin:auto">
		<tr th:each="user : ${users}">
			<td th:text="${user.username}" />
		</tr>
	</table>
</div>
</body>
</html>