<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Reseptikirjasto</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		input[type='number'] {
    		width: 45px;
		}
	</style>
</head>
<body>
	<h1 th:text="${header}"></h1>
	<form id="recipeform" method="post" action="#" th:action="@{/saverecipe}" th:object="${recipe}">
		<!-- id-arvo ja tekijä piilotettuna jotta saadaan kuljetettua mukana -->
		<input type="hidden" th:field="${recipe.id}"/>
		<input type="hidden" th:field="${recipe.user}"/>
		<p>
			<label>Nimi: </label>
			<input type="text" size="45" th:field="${recipe.name}" required />
		</p>
		<p>
			<label for="categorylist">Kategoria: </label>
			<select id="categorylist" th:field="*{category}">
				<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
			</select>
			<label>Annosmäärä: </label>
			<input type="number" th:field="${recipe.numberOfServings}" required />
			<!-- todo: muuta valinta x h x min -->
			<label>Valmistusaika (minuuttia): </label>
			<input type="number" step="5" th:field="${recipe.time}" required />
		</p>
		<p><label>Ainesosat: </label></p>
		<p><textarea form="recipeform" cols="50" rows="10" maxlength="1000" th:field="${recipe.listOfIngredients}" required></textarea></p>
		<p><label>Valmistusohjeet: </label></p>
		<p><textarea form="recipeform" cols="50" rows="10" maxlength="1000" th:field="${recipe.instructions}" required></textarea></p>
		<input type="submit" value="Tallenna"/> <input type="reset" value="Palauta" /> <input type="button" value="Takaisin" onclick="history.back()"> <!-- takaisin-nappi vie edelliselle sivulle -->
	</form>
</body>
</html>