<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<title>Reseptikirjasto</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		/* tyylit tässä väliaikaisesti, borderit vaan helpottamassa reseptilistauksen lukemista. */
		table {
			border: 1px solid;
		}
		th {
			border: 1px solid;
		}
		td {
			border: 1px solid;
		}
	</style>
</head>
<body>

	<h1>Reseptikirjasto</h1>
	
	<!-- kirjautumaton käyttäjä näkee: -->
	<div sec:authorize="!isAuthenticated()" style="line-height:0.3;margin-bottom:20px">
		<a th:href="@{/login}">Kirjaudu sisään</a>
		<a th:href="@{/signup}">Rekisteröidy</a>
	</div>
	<!-- kirjautunut käyttäjä näkee: -->
	<div sec:authorize="isAuthenticated()" style="line-height:0.3;margin-bottom:20px">
		<p>Kirjautunut: <span sec:authentication="name"></span></p>
		<a th:href="@{/logout}">Kirjaudu ulos</a>
	</div>
	
	<div sec:authorize="isAuthenticated()">
		<a href="/addrecipe">Lisää</a> 
		<a sec:authorize="hasAuthority('ADMIN')" href="/categorylist">Kategoriat</a>
	</div>
	
	<table>
		<tr>
			<th>Nimi</th>
			<th>Annosmäärä</th>
			<th>Aika</th>
			<th>Kategoria</th>
			<th>Tekijä</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="recipe : ${recipes}">
			<td><a th:href="@{/recipe/{id}(id=${recipe.id})}" th:text="${recipe.name}" ></a></td>
			<td th:text="${recipe.numberOfServings}" />
			<td th:text="|${recipe.time} minuuttia|" />
			<td th:text="${recipe.category.name}" />
			<td th:text="${recipe.author.username}" />
			<td><a th:href="@{/editrecipe/{id}(id=${recipe.id})}">Muokkaa</a></td>
			<td><a th:href="@{/delete/{id}(id=${recipe.id})}">Poista</a></td>
		</tr>
	</table>

</body>
</html>