<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Reseptikirjasto</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		/* tyylit tässä väliaikaisesti, borderit vaan helpottamassa reseptilistauksen lukemista. */
		table {
			border: 1px solid;
		}
		th {
			border: 1px solid;
		}
		td {
			border: 1px solid;
		}
	</style>
</head>
<body>

	<!-- todo: lopullisesta listausnäkymästä pois ainesosat ja valmistusohjeet -->

	<h1>Reseptikirjasto</h1>
	<a href="/addrecipe">Lisää</a> <a href="/categorylist">Kategoriat</a>
	<table>
		<tr>
			<th>Nimi</th>
			<th>Ainesosat</th>
			<th>Valmistusohjeet</th>
			<th>Annosmäärä</th>
			<th>Aika</th>
			<th>Kategoria</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="recipe : ${recipes}">
			<td><a th:href="@{/recipe/{id}(id=${recipe.id})}" th:text="${recipe.name}" ></a></td>
			<td style="white-space:pre-wrap" th:text="${recipe.listOfIngredients}" />
			<td style="white-space:pre-wrap" th:text="${recipe.instructions}" />
			<td th:text="${recipe.numberOfServings}" />
			<td th:text="|${recipe.time} minuuttia|" />
			<td th:text="${recipe.category.name}" />
			<td><a th:href="@{/edit/{id}(id=${recipe.id})}">Muokkaa</a></td>
			<td><a th:href="@{/delete/{id}(id=${recipe.id})}">Poista</a></td>
		</tr>
	</table>

</body>
</html>